ipython/
KEY.md
task/
tmux/tmux-scroll-copy-mode
emacs/e.el
emacs/basic/.cache/
emacs/basic/.local/
emacs/basic/.gnupg/
emacs/basic/.emacs.d/elpa/
emacs/basic/.emacs.d/recentf
mc/mc.ext
vim/bundle/
fishd*
*~
.#*