"*":
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "latex-plus"
      "spell-check"
      "release-notes"
      "timecop"
      "welcome"
      "metrics"
      "linter-chktex"
    ]
    openEmptyEditorOnStart: false
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
      "zenburn"
    ]
  editor:
    fontFamily: "Meslo LG M DZ For Powerline"
    invisibles: {}
    scrollPastEnd: true
    showInvisibles: true
    showIndentGuide: true
  "latex-plus": {}
  linter:
    errorPanelHeight: 26
    showErrorPanel: false
  "vim-mode":
    startInInsertMode: true
    useClipboardAsDefaultRegister: true
  welcome:
    showOnStartup: false
