"*":
  "atom-material-ui":
    colors:
      abaseColor: "#d21b1b"
      genAccent: true
      paintCursor: true
    treeView:
      compactList: true
    ui:
      panelContrast: true
      panelShadows: true
  core:
    autoHideMenuBar: true
    disabledPackages: [
      "about"
      "spell-check"
      "timecop"
      "update-package-dependencies"
      "welcome"
      "background-tips"
      "rustsym"
    ]
    telemetryConsent: "no"
    themes: [
      "atom-material-ui"
      "monokai"
    ]
  editor:
    fontFamily: "droid sans mono for powerline"
    fontSize: 15
    scrollPastEnd: true
    tabLength: 4
  "markdown-preview":
    useGitHubStyle: true
  "platformio-ide-terminal":
    core:
      workingDirectory: "Active File"
    style:
      defaultPanelHeight: "150px"
      fontSize: "11"
      theme: "one-dark"
    toggles:
      autoClose: true
  racer:
    racerBinPath: "/bin/racer"
  "tree-view":
    hideVcsIgnoredFiles: true
  "vim-mode-plus":
    startInInsertMode: true
    statusBarModeStringStyle: "long"
    useClipboardAsDefaultRegister: true
