'atom-text-editor.vim-mode-plus:not(.normal-mode)':
    'ctrl-[': 'editor:outdent-selected-rows'
    'ctrl-]': 'editor:indent-selected-rows'
    'ctrl-c': 'core:copy'

'atom-text-editor.vim-mode-plus:not(.insert-mode)':
    'space': 'vim-mode-plus:move-right'
     # "space-'": 'platformio-ide-terminal:toggle'

'atom-text-editor.vim-mode-plus':
    'ctrl-[': 'editor:outdent-selected-rows'
    'ctrl-]': 'editor:indent-selected-rows'

'body':
    'ctrl-x ctrl-c': 'application.quit'
    'ctrl-x ctrl-s': 'core.save'

'.platform-linux atom-workspace, .platform-win32 atom-workspace':
    "ctrl-'": 'platformio-ide-terminal:toggle'

'.platform-win32, .platform-linux':
    'ctrl-t': 'tree-view:toggle'
